VITE_REALTIME_URL=http://localhost:8787
VITE_WEB_FALLBACK_URL=https://salamancadetransportes.com/tiempos-de-llegada
REALTIME_PORT=8787
GTFS_STATIC_ZIP_PATH=public/data/gtfs.zip
GTFS_RT_TRIP_UPDATES_URL=
GTFS_RT_VEHICLE_POSITIONS_URL=
GTFS_RT_AUTH_HEADER=
GTFS_RT_AUTH_TOKEN=
GTFS_RT_REFRESH_MS=15000
REALTIME_WEB_FALLBACK_ENABLED=true
REALTIME_WEB_BASE_URL=https://salamancadetransportes.com/tiempos-de-llegada/
REALTIME_WEB_CACHE_MS=10000
REALTIME_STATIC_SCHEDULE_FALLBACK_ENABLED=false